input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea[type="text"],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="submit"] {
	width: 50%;
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	border: 2px solid black;
	border-radius: 6px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

.formClass {
	display: flex;
	flex-wrap: wrap;
}

.issueDescription {
	width: 100%;
}

.solvedDescription {
	width: 100%;
}

.formClass div {
	padding: 0 10px;
}

td {
	padding: 5px;
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
}

.cancelBtn {
	width: 50%;
	display: inline-block;
	background-color: #f44336;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 14px 20px;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 6px;
	cursor: pointer;
}

.cancelBtn:hover {
	background-color: #f13022;
}
