table {
	margin: 0 auto;
	table-layout: fixed;
	width: 100%;
}

.styled-table {
	border-collapse: collapse;
	margin: auto;
	font-size: 0.9em;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
	background-color: #4284f5;
	color: #fff;
	text-transform: capitalize;
	font-size: 17px;
}

.styled-table th,
.styled-table td {
	padding: 6px 10px;
	width: 80px;
	white-space: inherit;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	white-space: nowrap;
}
.styled-table th {
	white-space: normal;
}

.styled-table td::-webkit-scrollbar {
	height: 6px;
}
.styled-table td::-webkit-scrollbar-track {
	background: #d6d6d6;
}
.styled-table td::-webkit-scrollbar-thumb {
	background: #888;
}
.styled-table td::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.styled-table span {
	cursor: pointer;
	padding: 5px;
}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #4284f5;
}

.btn {
	border: none;
	color: #fff;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.btn-edit {
	background-color: #008cba;
}

.btn-delete {
	background-color: #f44336;
}

.btn-view {
	background-color: #e7e7e7;
	color: #000;
}
